h1 {
  margin-left: 35px;
}

p{
  margin-left: 35px;
}

li {
  font-size: larger;
  font-weight: bolder;
  height: 50px;
  width: 50px;
  background-color: lightblue;
  color: white;
  box-shadow: 8px 6px 15px black;
  border-radius: 5px;
  border: 1px solid rgb(0, 83, 118);
  align-items: center;
  padding-left: 16px
}

ul {
  text-align: center;
}

#button {
  border-radius: 0px;
 }

 form {

  width: 45%;
  border-radius: 0px;
  margin-left: 35px;
 }

 #link{
  margin-left: 35px;
}

#flexBox {
  display: flex;
  border: 1.5px solid grey;

 }
